@charset "utf-8";
// pc
.edit-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* 項目を縦方向に中央揃え */
  justify-content: center; /* 項目を横方向に中央揃え */
}

.edit-list-form {
  color: #555555;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

// iPad
@media all and (max-width: 768px) {
  $text-size: 25px;
  $text-size-large: 30px;
  $button-size: 18px;
  h2.editlist-h {
    font-size: $text-size-large;
  }
  .edit-list {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* 項目を縦方向に中央揃え */
    justify-content: center; /* 項目を横方向に中央揃え */
    font-size: $text-size;
  }

  .edit-list-form {
    color: #555555;
    font-size: $text-size;
  }

  .edit-list-title {
    width: 400px;
    margin-bottom: 5px;
    font-size: $text-size;
  }

  .delete-list-button {
    color: #ff3333;
    border: solid 1px #ff3333;
    width: 80px;
    height: 30px;
    margin: 25px 5px;
    border-radius: 5px;
    font-size: $button-size;
  }

  .edit-list-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: $button-size;
  }

  .error-message {
    color: #ff3333;
    font-size: $text-size;
  }
}

// iPhoneSE
@media all and (max-width: 320px) {
  $text-size: 15px;
  $text-size-large: 20px;
  $button-size: 12px;
  h2.editlist-h {
    font-size: $text-size-large;
  }
  .edit-list {
    width: 100%;
    margin: 0 auto;
    font-size: $text-size;
  }

  .edit-list-form {
    color: #555555;
    font-size: $text-size;
  }

  .edit-list-title {
    width: 200px;
    margin-bottom: 15px;
    font-size: $text-size;
  }

  .delete-list-button {
    color: #ff3333;
    border: solid 1px #ff3333;
    width: 50px;
    height: 30px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: $button-size;
  }

  .edit-list-button {
    background-color: #242f9b;
    color: #ffffff;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    font-size: $button-size;
  }

  .error-message {
    color: #ff3333;
    font-size: $text-size;
  }
}
