@charset "utf-8";
// pc
.new-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* 項目を縦方向に中央揃え */
  justify-content: right; /* 項目を横方向に中央揃え */
}

.new-list-form {
  color: #555555;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}
// iPad
@media all and (max-width: 768px){
$text-size: 25px;
$text-size-large: 30px;
$button-size: 18px;
h2.newlist-h{
  font-size: $text-size-large;
}
.new-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* 項目を縦方向に中央揃え */
  justify-content: right; /* 項目を横方向に中央揃え */
}

.new-list-form {
  color: #555555;
  font-size: $text-size;
}

.new-list-title {
  width: 400px;
  margin-bottom: 25px;
  font-size: $text-size;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: $button-size;
}
}
  
// iPhoneSE
@media all and (max-width: 320px){
$text-size: 15px;
$text-size-large: 20px;
$button-size: 12px;
h2.newlist-h{
  font-size: $text-size-large;
}
.new-list {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* 項目を縦方向に中央揃え */
  justify-content: right; /* 項目を横方向に中央揃え */
}

.new-list-form {
  color: #555555;
  font-size: $text-size;
}

.new-list-title {
  width: 200px;
  margin-bottom: 15px;
  font-size: $text-size;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 50px;
  height: 30px;
  border-radius: 5px;
  font-size: $button-size;
}
}