@charset "utf-8";
$items-width: 300px;

.new-task {
  width: 100%;
  margin: 0 auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center; /* 項目を縦方向に中央揃え */
  // justify-content: center; /* 項目を横方向に中央揃え */
}

.new-task-form {
  color: #555555;
}

.new-task-select-list,
.new-task-title {
  width: $items-width;
  margin-bottom: 25px;
}
// @media screen and (max-width: 320px){// iPhoneSE
//   .new-task-select-list,
//   .new-task-title {
//     width: 80%;
//     margin-bottom: 25px;
// }
// }

.new-task-detail {
  width: $items-width;
  margin-bottom: 25px;
  height: 200px;
}

.new-task-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}
